body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    align-items: center;
}

h1 {
      
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
      }

       h2 {
        text-align: center;
        margin-top: 7%;
        margin-right: 30px;
        font-family: sans-serif;
      }
      
      #numberInput {
        text-align: center;
        width: 150px;
      }
      
      
      #result {
        margin-top: 20px;
        text-align: center;
        margin-right: 55px;
        font-family: sans-serif;
      }


      #checkButton {
        background-color: rgb(11, 6, 108);
        color: white;
        padding: 8px 25px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
       
      }
      
      input[type="text"] {
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 16px;
      }
      
      
      
      
      
      


    
      
